demo.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.study.nmm.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.study.nmm.com/" name="helloService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservice.study.nmm.com/" schemaLocation="http://localhost:9000/hello/webservice?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="sayHello">
        <part name="parameters" element="tns:sayHello"/>
    </message>
    <message name="sayHelloResponse">
        <part name="parameters" element="tns:sayHelloResponse"/>
    </message>
    <message name="validateInfo">
        <part name="parameters" element="tns:validateInfo"/>
    </message>
    <message name="validateInfoResponse">
        <part name="parameters" element="tns:validateInfoResponse"/>
    </message>
    <message name="getInfo">
        <part name="parameters" element="tns:getInfo"/>
    </message>
    <message name="getInfoResponse">
        <part name="parameters" element="tns:getInfoResponse"/>
    </message>
    <message name="sayGood">
        <part name="parameters" element="tns:sayGood"/>
    </message>
    <message name="sayGoodResponse">
        <part name="parameters" element="tns:sayGoodResponse"/>
    </message>
    <portType name="HelloService">
        <operation name="sayHello">
            <input wsam:Action="http://webservice.study.nmm.com/HelloService/sayHelloRequest" message="tns:sayHello"/>
            <output wsam:Action="http://webservice.study.nmm.com/HelloService/sayHelloResponse" message="tns:sayHelloResponse"/>
        </operation>
        <operation name="validateInfo">
            <input wsam:Action="http://webservice.study.nmm.com/HelloService/validateInfoRequest" message="tns:validateInfo"/>
            <output wsam:Action="http://webservice.study.nmm.com/HelloService/validateInfoResponse" message="tns:validateInfoResponse"/>
        </operation>
        <operation name="getInfo">
            <input wsam:Action="http://webservice.study.nmm.com/HelloService/getInfoRequest" message="tns:getInfo"/>
            <output wsam:Action="http://webservice.study.nmm.com/HelloService/getInfoResponse" message="tns:getInfoResponse"/>
        </operation>
        <operation name="sayGood">
            <input wsam:Action="http://webservice.study.nmm.com/HelloService/sayGoodRequest" message="tns:sayGood"/>
            <output wsam:Action="http://webservice.study.nmm.com/HelloService/sayGoodResponse" message="tns:sayGoodResponse"/>
        </operation>
    </portType>
    <binding name="HelloServiceImplPortBinding" type="tns:HelloService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sayHello">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="validateInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sayGood">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="helloService">
        <port name="HelloServiceImplPort" binding="tns:HelloServiceImplPortBinding">
            <soap:address location="http://localhost:9000/hello/webservice"/>
        </port>
    </service>
</definitions>